li{
    list-style: none;
    float: right;
    padding-right:1% ;
    font-size: 150%;
}
a:hover{
    text-decoration: none;
}
.carousel {
    display: flex;
    overflow: hidden;
    flex-direction: row ;
  }
  
  .carousel-slide {
    flex: 1 0 100%;
    transition: transform 0.5s ease-in-out;
  }
  